
PropertySVC/.vs/PropertySVC/DesignTimeBuild/.dtbcache
*.dll
*.pdb
*.json
PropertySVC/.vs/PropertySVC/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.exe
*.cache
*.CopyComplete
*.txt
*.xml
*.props
*.json
*.cache
PropertySVC/.vs/PropertySVC/DesignTimeBuild/.dtbcache
PropertySVC/.vs/PropertySVC/v16/.suo
*.ide
*.ide-shm
*.ide-wal
*.json
*.cache
*.json
